:root {
  --background-primary: #1e1e1e;
  --background-secondary: #2d2d2d;
  --foreground: #d4d4d4;
  --accent: #4e94ce; /* iOS blue */
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white */
  backdrop-filter: blur(10px); /* iOS-style blur effect */
}

nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent); /* iOS blue for icons */
  text-decoration: none;
  margin: 0 10px;
  padding: 8px 16px;
  font-size: 1.5rem; /* Adjust icon size */
  border-radius: 10px; /* Rounded corners */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
}

nav a:hover,
nav a.active {
  background-color: rgba(255, 255, 255, 0.8); /* Highlight effect */
  transform: translateY(-2px); /* Slight raise effect for interactivity */
}

/* Media Query for devices with a max-width of 767px, including Samsung devices */
@media only screen and (max-width: 767px) {
  nav a {
    margin: 0 6px; /* Tighter spacing */
    padding: 6px 12px; /* Smaller touch targets */
    font-size: 1.3rem; /* Adjust icon size for smaller screens */
  }
}
